* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #09111a !important;
    width: 100%;
    padding: 0;
}

.sidebar {
    background-color: #060d0d;
}

.sidecard:hover {
    background-color: #202870;
}

.sidecard {
    background-color: #151A48 !important;
    width: 17%;
    height: 100vh;
    border-radius: 15px;
    margin-left: -1%;
    position: fixed;
}

.mynav li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 4px;
    border-left: 50px;
    padding: 8px 5px;
}

.mynav li a.active {
    background: #202871;
    width: 105%;
    margin-left: -5%;
}

.mynav li a:hover {
    background-color: #3b4acf66;
    width: 105%;
    margin-left: -5%;
    border-left: 40%;
    border-left-color: #3b4acf66 !important;
}

.mynav li a i {
    width: 25px;
    text-align: center;
}

.number {
    position: relative;
}

.numberCircle {
    position: absolute;
    top: 0;
    right: 52%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #3b4acf;
    color: #fff;
    text-align: center;
    font: 8px;
}

.nav-txt {
    font-size: 11px;
}

.arrow-return {
    padding-right: 20px !important;
    z-index: 100;
}

.arrow-return a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    width: 60%;
    background-color: #151a48 !important;
    border-radius: 20px;
    padding: 3px 15px;
}


/* .search-input {
    background-color: #151a48 !important;
    width: 100%;
    border: none;
    color: white;
} */

.search-input:focus {
    outline: none;
}

.bg-col {
    background-color: #151a48 !important;
}

.btn-border {
    border: 1px solid white;
    background-color: #151a48;
    padding: 10px 20px;
    border-radius: 0.8em;
}

.btn-border:hover {
    background-color: #3b4acf66;
}

.container {
    width: 100%;
    padding-right: 10px !important;
}

nav {
    z-index: 1000;
}

.container h1 {
    font-size: 26px;
    font-weight: 700;
}

.bigger-img {
    height: 50px;
}

.smaller-img {
    margin-left: 20px;
}

.wid {
    width: 86%;
    height: 100vh;
}

.ps {
    top: 20px;
    font-size: 25px;
}

@media screen and (min-width: 375px) and (max-width: 675px) {
    .wid {
        width: 100%;
    }
    .wid-sm {
        margin-left: 40px;
        width: 90% !important;
    }
    .mt {
        margin-top: 55px;
    }
}

.foundation-col {
    background-color: #151A48;
}

.btn-border {
    border: .1em solid white;
    background-color: #151A48;
    padding: 1em 2em;
    border-radius: .8em;
}

.star-col {
    color: #F4C448;
}

.bell {
    border: 4px solid #3B4ACF;
}

#bdSidebar {
    border-radius: 0em 3em 2em 0em;
}

.btn-complete-car {
    background-color: #075618 !important;
}

.btn-re-rent-car {
    background-color: #3B4ACF !important;
}

.bg-car-small {
    border: 2px solid white;
}

.blue-bor {
    border: 2px solid #3B4ACF !important;
}

.foundation-bg {
    background-color: #3B4ACF80 !important;
}

.foundation-bg-dark {
    background-color: #151a4896;
    background-image: url(../assets/img/car-details-img/Vector.png);
    background-repeat: no-repeat;
    background-size: fixed;
}

.foundation-bg-col {
    background-color: #151A48 !important;
    border: 0;
    box-shadow: none;
}

.foundation-bg-col-car {
    background-image: linear-gradient(45deg, #3b4acf8c, #3b4acf8c), url(../assets/img/car-details-img/Vector.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.font-size {
    font-size: 1em;
}

.gap-nav {
    gap: 1em;
}

.search-bar {
    width: 60%;
    background-color: #084387;
    border-radius: 20px;
    padding: 3px 10px;
}

.search-input {
    background-color: transparent;
    width: 100%;
    border: none;
    color: white;
}

.search-input:focus {
    outline: none;
}

nav {
    z-index: 1000;
}

 ::placeholder {
    color: white;
    font-size: 1.2em;
    padding-left: 1em;
    opacity: 1;
    /* Firefox */
}

 ::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: white;
    font-size: 1.2em;
    padding-left: 1em;
}

.bg-search {
    background-color: #3B4ACF;
}

.btn-border {
    border: .1em solid white;
    background-color: #151A48;
    padding: 1em 2em;
    border-radius: .8em;
}

.red-car {
    background-color: #3B4ACFCC;
}

.rent-btn {
    background-color: #3B4ACF !important;
}

.min-bg-col {
    background-color: #3B4ACFCC !important;
}

.img-1 {
    background-image: url(../assets/img/car-details-img/wheel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10em;
    width: 10em;
    border: 2px solid #3B4ACFCC;
}

.img-2 {
    background-image: url(../assets/img/car-details-img/road.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10em;
    width: 10em;
    border: 2px solid #3B4ACFCC;
}

.min-bg-col {
    background-color: #3B4ACFCC !important;
}

.col-3 {
    width: 10em !important;
}

.white-bg {
    border: 2px solid white;
}

.car-text {
    font-weight: 100;
    opacity: .8;
}

.vector {
    background-color: #151A48;
    background-image: url(../assets/img/car-details-img/Vector.png);
    background-repeat: no-repeat;
    background-size: fixed;
}

.star-col {
    color: #F4C448;
}

.img-3 {
    background-image: linear-gradient(45deg, #3b4acf8c, #3b4acf8c), url(../assets/img/car-details-img/Vector.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bell {
    border: 4px solid #3B4ACF;
}

input::placeholder {
    font-weight: 300;
    font-size: em;
    color: #fff;
    font-size: 1.5em;
    width: 50% !important;
    opacity: 0.6;
}

.bg-search {
    background-color: #3B4ACFCC !important;
}

#bdSidebar {
    border-radius: 0em 3em 2em 0em;
}

.main-container {
    background-color: #151A48;
    background-image: url(../assets/img/car-details-img/Vector.png);
    background-repeat: no-repeat;
}

.words {
    padding-left: 120px;
    font-size: 21px;
    line-height: 1.8em;
}

.word-weight {
    font-weight: 100;
}

#bdSidebar {
    height: 100vh;
}


/* MEDIA QUERY */


/*  MOBILE PHONE view*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    .desktop-view {
        display: none !important;
    }
    .words {
        padding-left: 1px;
    }
    .mobile-view-pic {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-view-date {
        display: none;
    }
    .rating {
        /* justify-content: center; */
        flex-direction: column;
    }
    .review {
        gap: 2px;
    }
    .btn-car {
        font-size: 1em !important;
    }
    .Lamborghini {
        text-align: center;
        width: 100% !important;
    }
}